@keyframes smokeRise {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -150%) scale(1.5) rotate(180deg);
  }
}
